* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1102px;
  margin: 0 auto;
  padding: 0;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
