@import "variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1102px;
  margin: 0 auto;
  padding: 0;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.scroll-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  background: $bgr_tabActive;
  color: #ffffff;
  border-radius: 10px;
  position: fixed;
  bottom: -20%;
  right: 30px;
  transition: 0.4s;
  z-index: 10;
  visibility: hidden;
}

.show-scroll {
  bottom: 50px;
  visibility: visible;
}
