.listSection {
  padding-top: 108px;
  padding-bottom: 134px;
  background-color: $color_white;
  &-main {
    display: flex;
    align-items: center;
    gap: 157px;
  }
  &-image {
    margin-left: -25px;
    height: 340px;
    width: 525px;
    &__img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-heading {
    font-size: 20px;
    line-height: 43px;
    font-weight: 700;
    font-family: $font-openSans;
    color: $color_title;
    padding-bottom: 28px;
    position: relative;
  }
  &-heading::before {
    position: absolute;
    content: "";
    width: 64px;
    height: 2px;
    background-color: $bgr_tabActive;
    bottom: 0;
    left: 0;
  }
  &-text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-openSans;
    font-weight: 400;
    color: $color_text;
    margin-bottom: 47px;
  }
  &-textList {
    margin-top: 13px;
    font-size: 14px;
    line-height: 17px;
    font-family: $font-openSans;
    font-weight: 400;
    color: $color_text;
    width: 414px;
  }

  &-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    font-family: $font-openSans;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &__icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid $bgr_tabActive;
    }
  }

  &-row:last-child {
    margin-top: 43px;
  }
  &-icons {
    padding: 10px;
    color: $bgr_tabActive;
  }
}
