.pictureSection {
  padding-top: 108px;
  background-color: #f5f5f5;
  padding-bottom: 74px;
  &-main {
    display: flex;
    justify-content: space-between;
    gap: 160px;
  }
  &-title {
    font-size: 20px;
    line-height: 43px;
    font-family: $font-openSans;
    font-weight: 700;
    color: $color_title;
    padding-bottom: 30px;
    position: relative;
  }

  &-title::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 64px;
    height: 2px;
    background-color: $bgr_tabActive;
  }

  &-text {
    margin-top: 30px;
    line-height: 20px;
    font-size: 14px;
    font-family: $font-openSans;
    font-weight: 400;
    color: $color_text;
  }
  &-image {
    margin-right: -60px;
  }
}
