@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Raleway:wght@200;300;400&display=swap");
$font-openSans: "Open Sans", sans-serif;
$font-Raleway: "Raleway", sans-serif;

$bgr_header: #000000;
$bgr_tab: #333333;
$bgr_tabActive: #ff8b38;

$color_title: #000000;
$color_text: #c2bfbe;
$color_menu: #848484;

$color_white: #ffffff;
